.question-wrapper{
    width: 310px;
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: center;
    margin: 1em !important;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #dedede;
    padding: 1em;
}